.container {
  display: flex;
  width: 100vw;
  height: 50.95rem;
  padding-top: 1.25rem;
  flex-wrap: nowrap;
  gap: 4rem;
}

.infoContainer {
  /* margin-left: 4rem;
  margin-top: 2.5rem;
  flex: 35%; */
}

.text {
}

.h1 {
  /* font-size: 3rem;
  line-height: 1;
  margin-bottom: 4rem; */
}

.formOuterContainer {
  /* flex: 30%;
  align-self: center; */
  /* flex: 80%; */
}

.formContainer {
  /* max-width: 500px; */
  /* flex: 33.33%; */
  background-color: rgb(236, 235, 235);
  border-width: 2px;
  border-style: solid;
  border-color: black;
}

.form {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
}

.formInput {
  margin-top: 1rem;
  margin-left: 1rem;
  margin-right: 1rem;
  height: 2.5rem;
  border-width: 1px;
  border-style: solid;
  border-color: slategray;
  padding-left: 0.75rem;
}

.formTextArea {
  margin-right: 1rem;
  margin-left: 1rem;
  margin-top: 1rem;
  height: 11rem;
  padding-left: 0.75rem;
  padding-top: 0.25rem;
  border-width: 1px;
  border-style: solid;
  border-color: slategray;
}

.formSubmit {
  margin-left: 1rem;
  margin-right: 1rem;
  margin-top: 1rem;
  margin-bottom: 1.5rem;
  height: 3rem;
  background-color: white;
}

.imageContainer {
  position: relative;
  /* width: 1000px; */
  overflow: hidden;
  /* flex: 30%; */
  /* flex: 30%;
  position: relative;
  width: 1000px;
  overflow: hidden;
  margin-top: 1.75rem; */
}

.wrapper {
  min-height: rem(400px);
  /* max-width: rem(1600px); */
  /* width: rem(1500); */
  /* align-self: center;
  display: flex;
  justify-content: center; */
  /* background-image: linear-gradient(
    -60deg,
    var(--mantine-color-blue-4) 0%,
    var(--mantine-color-blue-7) 100%
  ); */
  /* border-radius: var(--mantine-radius-md); */
  /* padding: calc(var(--mantine-spacing-xl) * 2.5); */
  padding: rem(20);

  /* @media (max-width: $mantine-breakpoint-sm) {
    padding: calc(var(--mantine-spacing-xl) * 1.5);
  } */
}

.title {
  font-family: Greycliff CF, var(--mantine-font-family);
  /* color: var(--mantine-color-white); */
  color: var(--mantine-color-black);
  line-height: 1;
}

.description {
  color: var(--mantine-color-black);
  max-width: rem(300px);

  /* @media (max-width: $mantine-breakpoint-sm) {
    max-width: 100%;
  } */
}

.form {
  background-color: var(--mantine-color-white);
  padding: var(--mantine-spacing-xl);
  border-radius: var(--mantine-radius-md);
  /* border-width: 0.5px; */
  /* border-style: solid; */
  border-color: black;
  /* box-shadow: var(--mantine-shadow-lg); */
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.social {
  color: var(--mantine-color-white);

  /* @mixin hover {
    color: var(--mantine-color-blue-1);
  } */
}

.input {
  background-color: var(--mantine-color-white);
  border-color: var(--mantine-color-gray-4);
  color: var(--mantine-color-black);

  &::placeholder {
    color: var(--mantine-color-gray-5);
  }
}

.textAreaInput {
  background-color: var(--mantine-color-white);
  border-color: var(--mantine-color-gray-4);
  color: var(--mantine-color-black);
  height: 11rem;
  &::placeholder {
    color: var(--mantine-color-gray-5);
  }
}

.inputLabel {
  color: var(--mantine-color-black);
}

.control {
  background-color: var(--mantine-color-blue-6);
}

/* 576px */
@media screen and (min-width: 36em) {
}
/* 768px */
@media screen and (min-width: 48em) {
  .wrapper {
    padding: calc(var(--mantine-spacing-xl) * 1.5);
  }

  .description {
    max-width: 100%;
  }
}
/* 992px */
@media screen and (min-width: 62em) {
}
/* 1200px */
@media screen and (min-width: 75em) {
  .infoContainer {
    width: 30%;
  }
  .imageContainer {
    flex: 0.4;
  }
  .formOuterContainer {
    width: 30rem;

    align-self: center;
  }
  /* 
  .wrapper {
    padding: calc(var(--mantine-spacing-xl) * 1.5);
  } */
}
/* 1408px */
@media screen and (min-width: 88em) {
}
