.form {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
}

.imageContainer {
  position: relative;
  overflow: hidden;
}

.wrapper {
  min-height: rem(400px);
  padding: rem(20);
}

/*.title {*/
/*  !*font-family: Greycliff CF, var(--mantine-font-family);*!*/
/*  color: var(--mantine-color-black);*/
/*  line-height: 1;*/
/*}*/

.description {
  color: var(--mantine-color-black);
  max-width: rem(300px);
}

.form {
  background-color: var(--mantine-color-white);
  padding: var(--mantine-spacing-xl);
  border-radius: var(--mantine-radius-md);
  border-color: black;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.social {
  color: var(--mantine-color-white);
}

.input {
  background-color: var(--mantine-color-white);
  border-color: var(--mantine-color-gray-4);
  color: var(--mantine-color-black);

  &::placeholder {
    color: var(--mantine-color-gray-5);
  }
}

.textAreaInput {
  background-color: var(--mantine-color-white);
  border-color: var(--mantine-color-gray-4);
  color: var(--mantine-color-black);
  height: 11rem;
  &::placeholder {
    color: var(--mantine-color-gray-5);
  }
}

.inputLabel {
  color: var(--mantine-color-black);
}

.control {
  background-color: var(--mantine-color-blue-6);
}

/* 576px */
@media screen and (min-width: 36em) {
}
/* 768px */
@media screen and (min-width: 48em) {
  .wrapper {
    padding: calc(var(--mantine-spacing-xl) * 1.5);
  }

  .description {
    max-width: 100%;
  }
}
/* 992px */
@media screen and (min-width: 62em) {
}
/* 1200px */
@media screen and (min-width: 75em) {

  .imageContainer {
    flex: 0.4;
  }
}
/* 1408px */
@media screen and (min-width: 88em) {
}
