.backgroundImageContainer {
  position: fixed;
  z-index: -10;
  top: 0;
  width: 100vw;
  height: 100vh;
}

.backgroundImage {
  filter: brightness(0.65);
  height: 100%;
  width: 100%;
}

.container {
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  /* height: "auto"; */
  /* height: 100%; */
  /* flex: 1; */
  /* height: 100vh; */
}

.containerLeft {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-bottom: 2rem;
  /* align-items: center; */
  /* flex-basis: 60%; */
  /* flex: 1; */
  /* flex-shrink: 5; */
  /* height: 100%; */
}

.h1 {
  /* width: 50%; */
  /* margin-right: 15rem; */
  /* color: blue; */
  font-weight: bold;
  font-size: 2rem;
  line-height: 1.625;
  text-align: center;
}

.text {
  text-align: center;
}

.containerRight {
  display: flex;
  /* flex-shrink: 1; */
  /* flex-basis: 40%; */
  /* flex: 1; */
  justify-content: center;
  /* align-items: center; */
  padding-bottom: 2rem;
}

.imageOuterContainer {
  width: 75%;
  /* height: 83.3333%; */
  height: auto;
  display: flex;
  /* justify-content: center;
  align-items: center; */
  background-color: white;
  border-radius: 1.5rem;
}

.imageContainer {
  /* position: relative; */
  /* margin: 5rem; */
  /* width: 83.3333%;
  height: 83.3333%; */
}

@media screen and (min-width: 36em) {
  .h1 {
    font-size: 3rem;
    margin-right: 1rem;
    margin-left: 1rem;
  }
}

@media screen and (min-width: 48em) {
  .h1 {
    font-size: 3.5rem;
  }
}

@media screen and (min-width: 62em) {
  /* .backgroundImageContainer {
    position: fixed;
  }
  .container {
    flex-direction: row;
    justify-content: center;
  }
    */
  .h1 {
    font-size: 3.5rem;
    margin-right: 4rem;
    margin-left: 4rem;
  }
}

@media screen and (min-width: 75em) {
  .containerLeft {
    width: 50%;
  }
  .containerRight {
    width: 50%;
    margin-top: 4rem;
  }
}

@media screen and (min-width: 88em) {
  .containerLeft {
    flex-direction: column;
    padding-left: 10rem;
    padding-top: 3rem;
  }

  .h1 {
    font-size: 4rem;
    width: 50%;
    line-height: 6rem;
    text-align: start;
  }

  .text {
    text-align: start;
    padding-left: 4rem;
  }

  .imageOuterContainer {
    height: 60%;
    width: 60%;
  }
}
