.header {
  top: 0;
  background-color: white;
  z-index: 10;
}

.headerContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.ul {
  display: flex;
  margin-right: 3.5rem;
}

.li {
  margin-right: 2rem;
  list-style-type: none;
}

.link {
  text-decoration: none;
  color: black;
  font-weight: bold;
}
