.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 95vw;
  padding-left: 5vw;
  /* height: 100vh; */
  padding-top: 1.25rem;
  flex-wrap: nowrap;
}

.searchContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  padding-bottom: 50px;
}

.searchInputContainer {
  display: flex;
  width: 40%;
  padding-bottom: 5px;
}

.filterContainer {
  display: flex;
}

.dataContainer {
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
  justify-content: center;
}

.dataPaper {
  width: 400px;
  height: 550px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.dataImageContainer {
  position: relative;
  display: inline-block;
}

.dataImage {
  border-radius: 20px;
  transition: filter 0.3s ease;
  display: block;
}

.dataImageContainer:hover .dataImage {
  filter: blur(2.5px);
}

.dataProfileButton {
  z-index: 5;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 0;
  transition: opacity 0.3s ease;
  cursor: pointer;
  padding: 1.3em 3em;
  font-size: 12px;
  text-transform: uppercase;
  letter-spacing: 2.5px;
  font-weight: 500;
  color: #000;
  background-color: #fff;
  border: none;
  border-radius: 45px;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease 0s;
  outline: none;
}

.dataProfileButton:hover {
  background-color: rgb(124, 193, 216);
  /* box-shadow: 0px 15px 20px rgba(46, 229, 157, 0.4); */
  color: #fff;
  /* transform: translateY(-7px); */
}

.dataProfileButton:active {
  /* transform: translateY(-1px); */
}

.dataImageContainer:hover .dataProfileButton,
.dataProfileButton:hover {
  opacity: 1;
}

.dataProfileButton:hover ~ .dataImage {
  filter: blur(2.5px);
}

.test {
  height: 100%;
}
