.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 95vw;
  padding-left: 5vw;
  /* height: 100vh; */
  padding-top: 1.25rem;
  flex-wrap: nowrap;
}

.searchContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  padding-bottom: 50px;
}

.searchInputContainer {
  display: flex;
  width: 40%;
  padding-bottom: 5px;
}

.filterContainer {
  display: flex;
}

.dataContainer {
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
  justify-content: center;
}

.dataPaper {
  width: 400px;
  height: 550px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.dataImage {
  position: relative;
  border-radius: 20px;
  transition: filter 0.3s ease;
}

.dataImage:hover {
  filter: blur(3px);
}

.dataProfileButton {
  position: absolute;
  top: 45%;
  filter: blur(0);
}
