.container {
  display: flex;
  width: 90vw;
  padding-left: 10%;
  height: 100vh;
  padding-top: 1.25rem;
  flex-wrap: nowrap;
}

.containerLeft {
  flex: 1;
}

.infoContainer {
  display: flex;
  flex-direction: column;
  width: 66.666%;
  height: 83.3333%;
}

/* 576px */
@media screen and (min-width: 36em) {
}

/* 768px */
@media screen and (min-width: 48em) {
}

/* 992px */
@media screen and (min-width: 62em) {
}

/* 1200px */
@media screen and (min-width: 75em) {
  .text {
    width: 80%;
    font-size: 1.25rem;
  }
}

/* 1408px */
@media screen and (min-width: 88em) {
}
